$primary: #ff4c60;
$secondary: #353353;

$default-background-color: #f9f9ff;
$default-text-color: #5e5c7f;

$title-color: #454360;
$footer-text-color: #d0d0d0;

$card-blue: #6c6ce5;
$card-yellow: #f9d74c;
$card-red: #f97b8b;

$icon-gray: #c5c5d0;

$yellow: #ffd15c;

$scrollbar: #6d6d6d;
$scrollbar-background: #ebebeb;
