@import 'common/sass/_all';

@import '~bulma/sass/layout/footer';

.footer {
  background-color: $secondary;
  color: $footer-text-color;
  padding: 40px 10px;

  a {
    color: $footer-text-color;
    &:hover {
      color: $white;
    }
  }
}
